html {
  background: #eeeeee; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  margin: 0;
  width: 100%;
  min-height: 100%; }

html, .appView {
  margin: 0;
  width: 100%;
  min-height: 100%; }

.floatingpanel {
  border-style: solid;
  border-color: #949191;
  border-width: 1px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 3px #888;
  -webkit-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888; }

.appView {
  background-image: url("../images/back.png");
  background-repeat: repeat;
  position: absolute; }
  .appView .topPanel {
    position: fixed;
    width: 100%;
    z-index: 1000; }
    .appView .topPanel .topPanel-content {
      display: block;
      width: 95%;
      overflow: hidden;
      height: 45px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-top: 8px;
      background: #dfdeb9;
      padding-left: 5px; }
      .appView .topPanel .topPanel-content .searchPanel-searchinput {
        margin-top: 10px;
        width: 87%; }
      .appView .topPanel .topPanel-content .topPanel-buttonPanel {
        display: block;
        width: 45px;
        overflow: hidden;
        height: 100%;
        float: right;
        border-radius: 0px 5px 5px 0px;
        border-left-style: solid;
        border-left-color: #949191;
        border-left-width: 1px; }
        .appView .topPanel .topPanel-content .topPanel-buttonPanel.stop {
          background-size: 100%;
          background-image: url("../images/start.png"); }
        .appView .topPanel .topPanel-content .topPanel-buttonPanel.start {
          background-size: 100%;
          background-image: url("../images/stop.png"); }
  .appView .feedbody {
    padding: 0px 4px 4px;
    margin-top: 75px;
    overflow: hidden; }
    .appView .feedbody .tweet {
      display: block;
      width: 98%;
      overflow: hidden;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
      max-height: 10%;
      padding: 2px;
      background: #f5f5e8; }
      .appView .feedbody .tweet .userblock {
        display: block;
        width: 25%;
        overflow: hidden;
        height: 70px;
        float: left;
        margin-right: 1px; }
        .appView .feedbody .tweet .userblock .tweetuserimage, .appView .feedbody .tweet .userblock .tweetuser {
          display: block; }
      .appView .feedbody .tweet .tweetcontent {
        display: block;
        width: 74%;
        overflow: hidden;
        height: 70px;
        float: left; }
        .appView .feedbody .tweet .tweetcontent .highlight {
          background: yellow;
          font-size: 16px; }
