html {
  background: #eeeeee; }

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333; }

html, .appView {
  margin: 0;
  width: 100%;
  min-height: 100%; }

.floatingpanel {
  border-style: solid;
  border-color: #949191;
  border-width: 1px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 3px #888;
  -webkit-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888; }

.appView {
  /*     This gradient is taken from http://www.colorzilla.com/gradient-editor/ */
  background-image: url("../images/clouds.png"), -moz-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* FF3.6+ */
  background-image: url("../images/clouds.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1dbff), color-stop(53%, #cbebff), color-stop(100%, #f0f9ff));
  /* Chrome,Safari4+ */
  background-image: url("../images/clouds.png"), -webkit-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url("../images/clouds.png"), -o-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* Opera 11.10+ */
  background-image: url("../images/clouds.png"), -ms-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* IE10+ */
  background-image: url("../images/clouds.png"), linear-gradient(to bottom, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* W3C */
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
  position: absolute; }
  .appView .topPanel {
    position: fixed;
    right: 0px;
    width: 100%;
    z-index: 1000; }
    .appView .topPanel .topPanel-content {
      display: block;
      width: 95%;
      overflow: hidden;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      /*     This gradient is taken from http://www.colorzilla.com/gradient-editor/ */
      background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
      /* W3C */
      position: relative;
      margin-top: 8px; }
      .appView .topPanel .topPanel-content .searchPanel-searchinput {
        margin-top: 15px;
        margin-left: 20px;
        width: 70%;
        font-size: inherit;
        border-style: none;
        background: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #949191; }
      .appView .topPanel .topPanel-content .topPanel-spinner {
        display: block;
        width: 20px;
        overflow: hidden;
        height: 20px;
        background-image: url("../images/spinner.gif");
        background-repeat: none;
        margin-top: 15px;
        margin-right: 5px;
        float: right; }
      .appView .topPanel .topPanel-content .topPanel-buttonPanel {
        display: block;
        width: 50px;
        overflow: hidden;
        height: 100%;
        float: right;
        border-radius: 0px 5px 5px 0px;
        border-left-style: solid;
        border-left-color: #949191;
        border-left-width: 1px; }
        .appView .topPanel .topPanel-content .topPanel-buttonPanel.stop {
          background-size: 100%;
          background-image: url("../images/start.png"); }
        .appView .topPanel .topPanel-content .topPanel-buttonPanel.start {
          background-size: 100%;
          background-image: url("../images/stop.png"); }
  .appView .feedbody {
    padding: 0px 4px 4px;
    margin-top: 75px;
    overflow: hidden; }
    .appView .feedbody .tweet {
      display: block;
      width: 98%;
      overflow: hidden;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      /*     This gradient is taken from http://www.colorzilla.com/gradient-editor/ */
      background: -moz-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, white));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
      /* W3C */
      margin-bottom: 5px;
      min-height: 10%;
      padding: 2px; }
      .appView .feedbody .tweet .userblock {
        display: block;
        width: 25%;
        overflow: hidden;
        height: 70px;
        float: left;
        margin-right: 1px; }
        .appView .feedbody .tweet .userblock .tweetuserimage, .appView .feedbody .tweet .userblock .tweetuser {
          display: block; }
      .appView .feedbody .tweet .tweetcontent {
        display: block;
        width: 74%;
        overflow: none;
        height: auto;
        float: left; }
        .appView .feedbody .tweet .tweetcontent .highlight {
          background: yellow;
          font-size: 16px; }
