$borderColor: #949191;
@mixin fullscreen { margin: 0; width: 100%; min-height: 100%; }
@mixin buttonStyle($image) { background-size: 100%; background-image: url('../images/#{$image}.png'); }
@mixin hcentered { margin-left: auto; margin-right: auto; }
@mixin renderArea($width, $height:auto, $display:block, $overflow:hidden) {
    display: $display;
    width: $width;
    overflow: $overflow;
    height: $height;
}
@mixin gradientDouble($color1, $color2, $color3, $color4) {
/*     This gradient is taken from http://www.colorzilla.com/gradient-editor/ */
    background: -moz-linear-gradient(top, $color1 0%, $color2 50%, $color3 51%, $color4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(50%,$color2), color-stop(51%,$color3), color-stop(100%,$color4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color1 0%,$color2 50%,$color3 51%,$color4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1 0%,$color2 50%,$color3 51%,$color4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1 0%,$color2 50%,$color3 51%,$color4 100%); /* IE10+ */
    background: linear-gradient(to bottom, $color1 0%,$color2 50%,$color3 51%,$color4 100%); /* W3C */
}
@mixin gradientSingle($color1, $color2, $color3) {
/*     This gradient is taken from http://www.colorzilla.com/gradient-editor/ */
    background-image: url('../images/clouds.png'), -moz-linear-gradient(top, $color1 0%, $color2 53%, $color3 100%); /* FF3.6+ */
    background-image: url('../images/clouds.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(53%,$color2), color-stop(100%,$color3)); /* Chrome,Safari4+ */
    background-image: url('../images/clouds.png'), -webkit-linear-gradient(top, $color1 0%,$color2 53%,$color3 100%); /* Chrome10+,Safari5.1+ */
    background-image: url('../images/clouds.png'), -o-linear-gradient(top, $color1 0%,$color2 53%,$color3 100%); /* Opera 11.10+ */
    background-image: url('../images/clouds.png'), -ms-linear-gradient(top, $color1 0%,$color2 53%,$color3 100%); /* IE10+ */
    background-image: url('../images/clouds.png'), linear-gradient(to bottom, $color1 0%,$color2 53%,$color3 100%); /* W3C */
}
@mixin bodyGradient {
    @include gradientSingle(rgba(161,219,255,1), rgba(203,235,255,1), rgba(240,249,255,1));
}
@mixin panelGradient {
    @include gradientDouble(rgba(255,255,255,1), rgba(243,243,243,1), rgba(237,237,237,1), rgba(255,255,255,1));
}
@mixin topGradient {
    @include gradientDouble(rgba(246,248,249,1), rgba(229,235,238,1), rgba(215,222,227,1), rgba(245,247,249,1));
}
html {
	background: #eeeeee;
}
body {
	@include fullscreen;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
}
html, .appView { @include fullscreen; }
.floatingpanel {
    border-style: solid;
    border-color: $borderColor;
    border-width: 1px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}
.appView {
    @include bodyGradient;
    background-repeat:repeat-y;
    background-size: 100%;
    background-position: center;
    position: absolute;
    .topPanel {
        position: fixed;
        right: 0px;
        width: 100%;
        z-index: 1000;
        .topPanel-content {
            @include renderArea(95%, 50px);
            @include hcentered;
            @include topGradient;
            position: relative;
            margin-top: 8px;
            .searchPanel-searchinput {
                margin-top: 15px;
                margin-left: 20px;
                width: 70%;
                font-size: inherit;
                border-style: none;
                background: none;
                border: {
                    bottom: {
                        style: solid;
                        width: 1px;
                        color: $borderColor;
                    }
                }
            }
            .topPanel-buttonPanel {
                @include renderArea(50px, 100%);
                float: right;
                border: {
                    radius: 0px 5px 5px 0px;
                    left: {
                        style: solid;
                        color: $borderColor;
                        width: 1px;
                    }
                }
                &.stop {
                    @include buttonStyle(start);
                }
                &.start {
                    @include buttonStyle(stop);
                }
            }
        }
    }
    .feedbody {
        padding: 0px 4px 4px;
        margin-top: 75px;
        overflow: hidden;
        .tweet {
            @include renderArea(98%);
            @include hcentered;
            @include panelGradient;
            margin-bottom: 5px;
            max-height: 10%;
            padding: 2px;
            .userblock {
                @include renderArea(25%, 70px);
                float: left;
                margin-right: 1px;
                .tweetuserimage, .tweetuser {
                    display: block;
                }
            }
            .tweetcontent {
                @include renderArea(74%, 70px);
                float: left;
                .highlight {
                    background: yellow;
                    font-size: 16px;
                }
            }
        }
    }
}