@mixin fullscreen { margin: 0; width: 100%; min-height: 100%; }
@mixin buttonStyle($image) { background-size: 100%; background-image: url('../images/#{$image}.png'); }
@mixin hcentered { margin-left: auto; margin-right: auto; }
@mixin renderArea($width, $height:auto, $display:block, $overflow:hidden) {
    display: $display;
    width: $width;
    overflow: $overflow;
    height: $height;
}
html {
	background: #eeeeee;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	@include fullscreen;
}
html, .appView { @include fullscreen; }
.floatingpanel {
    border-style: solid;
    border-color: #949191;
    border-width: 1px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}
.appView {
    background-image: url('../images/back.png');
    background-repeat: repeat;
    position: absolute;
    .topPanel {
        position: fixed;
        width: 100%;
        z-index: 1000;
        .topPanel-content {
            @include renderArea(95%, 45px);
            @include hcentered;
            position: relative;
            margin-top: 8px;
            background: #dfdeb9;
            padding-left: 5px;
            .searchPanel-searchinput {
                margin-top: 10px;
                width: 87%;
            }
            .topPanel-buttonPanel {
                @include renderArea(45px, 100%);
                float: right;
                border: {
                    radius: 0px 5px 5px 0px;
                    left: {
                        style: solid;
                        color: #949191;
                        width: 1px;
                    }
                }
                &.stop {
                    @include buttonStyle(start);
                }
                &.start {
                    @include buttonStyle(stop);
                }
            }
        }
    }
    .feedbody {
        padding: 0px 4px 4px;
        margin-top: 75px;
        overflow: hidden;
        .tweet {
            @include renderArea(98%);
            @include hcentered;
            margin-bottom: 5px;
            max-height: 10%;
            padding: 2px;
            background: #f5f5e8;
            .userblock {
                @include renderArea(25%, 70px);
                float: left;
                margin-right: 1px;
                .tweetuserimage, .tweetuser {
                    display: block;
                }
            }
            .tweetcontent {
                @include renderArea(74%, 70px);
                float: left;
                .highlight {
                    background: yellow;
                    font-size: 16px;
                }
            }
        }
    }
}